{{ use('frontend/widgets/NewsWidget') }}
{{ use('frontend/widgets/Advantages') }}
<div class="container">
    <nav class="breadcrumbs"><a class="breadcrumbs__item" href="">Главная</a><a class="breadcrumbs__item is--current" href="">Ищу франшизу</a>
    </nav>
</div>
<section class="section section--search-franchise">
    <div class="container">
        <h2 class="section__title is--align-left">Развиваю франшизу</h2>
        <div class="section__content">
            <p class="section__text is--small">Значимость этих проблем настолько очевидна, что сложившаяся структура организации способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же новая модель организационной деятельности требуют от нас анализа новых предложений. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений. Равным образом дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.</p>
            <div class="row">
                <div class="col col--4-of-12 col--s-12-of-12 col--m-6-of-12 col--l-4-of-12">
                    <div class="search-franchise">
                        <div class="search-franchise__inner is--first">
                            <h3 class="search-franchise__title">Бесплатное членство</h3>
                            <p class="search-franchise__text">Значимость этих проблем настолько очевидна, что сложившаяся структура организации способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач</p>
                            <div class="search-franchise__action"><a href="" data-modal="registration">Регистрации</a></div>
                        </div>
                    </div>
                </div>
                <div class="col col--4-of-12 col--s-12-of-12 col--m-6-of-12 col--l-4-of-12">
                    <div class="search-franchise">
                        <div class="search-franchise__inner is--second">
                            <h3 class="search-franchise__title">Платное членство</h3>
                            <p class="search-franchise__text">Значимость этих проблем настолько очевидна, что сложившаяся структура организации способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.</p>
                            <div class="search-franchise__action"><a href="" data-modal="registration">Регистрации</a></div>
                        </div>
                    </div>
                </div>
                <div class="col col--4-of-12 col--s-12-of-12 col--m-6-of-12 col--l-4-of-12">
                    <div class="search-franchise">
                        <div class="search-franchise__inner is--third">
                            <h3 class="search-franchise__title">Дополнительные услуги</h3>
                            <p class="search-franchise__text">Значимость этих проблем настолько очевидна, что сложившаяся структура организации способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.</p>
                            <div class="search-franchise__action"><a href="" data-modal="registration">Регистрации</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ advantages_widget() }}
{{ news_widget_widget() }}