<div class="customer-data">
    <div class="customer-data__text">Вы вошли на сайт, как  <a class="customer-data__link" href="{{ Url.to('/user/index') }}">{{ app.user.identity.username }}</a> (ID {{ app.user.identity.id }})</div><a class="customer-data__action btn btn--primary btn--md" href="{{ Url.to('/user/index') }}">Мои  данные</a>
</div>