/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.04.2017, 9:51:02
    Author     : kossworth
*/

.blue_background {
    background-color: #204d74;
    color: #fff;
}
