<div class="container">
    <nav class="breadcrumbs"><a class="breadcrumbs__item" href="">Главная</a><a class="breadcrumbs__item is--current" href="">Каталог франшиз</a>
    </nav>
</div>
<section class="section section--catalog">
    <div class="container">
        <h2 class="section__title is--align-left">По запросу "{{ search }}" поиск не дал результатов</h2>



    </div>
</section>