<section class="section section--advantages">
    <div class="container">
        <h2 class="section__title">Наши преимущества</h2>
        <div class="section__content">
            <div class="advantage">
                <div class="advantage__inner"><img class="advantage__icon" src="/images/advantages/watch.png" alt="">
                    <p class="advantage__text">Достаточно быстрое расширение бизнеса в разных регионах/странах, при минимальных затратах.</p>
                </div>
            </div>
            <div class="advantage">
                <div class="advantage__inner"><img class="advantage__icon" src="/images/advantages/shield.png" alt="">
                    <p class="advantage__text">Минимум рисков. Ведением и развитием бизнеса занимается франчайзи и риски он берет на себя.</p>
                </div>
            </div>
            <div class="advantage">
                <div class="advantage__inner"><img class="advantage__icon" src="/images/advantages/shop.png" alt="">
                    <p class="advantage__text">Чем больше открыто магазинов/ресторанов и т.д. тем больше людей узнают о существовании бренда.</p>
                </div>
            </div>
        </div>
    </div>
</section>